.taskbar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #EEEBEB;
}

.ant-menu {
  flex: 1; /* Make the menu take up the available space */
}

.signout {
  padding: 13px;
  margin: 30px;
  text-align: center;
  border-radius: 65px;
  border: 1px solid #000000;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
  bottom: 0;
  text-decoration: none;
}